<nav class="navbar navbar-dark bg-dark">
  <div class="header_container">
    <a href="https://www.bigcommerce.com" class="navbar-brand" href="#">
      <img src="<%= asset_path('BClogo.png') %>" alt="" width="40" height="40">
    </a>
  </div>
</nav>