
<div id="hourly_chart">
loading...
</div>

<%= content_tag "div", id: "highs-lows_chart", data: {test: @chartArrayFormatted  } do %>
  loading...
<% end %>

<!--TODO: isolate data into another element --> 